<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>&lt;p&gt;</string>
	<string>&lt;h1&gt;
h2
h3
h4
h5
h6
ol
ul
del
div
ins
pre
form
math
table
figure
iframe
script
style
fieldset
noscript
blockquote
</string>
	<string>&lt;h2&gt;</string>
	<string>&lt;h3&gt;
&lt;h3&gt;</string>
	<string>&lt;h4&gt;</string>
	<string>&lt;h5&gt;</string>
	<string>&lt;h6&gt;
</string>
	<string>&lt;ol&gt;
</string>
	<string>&lt;ul&gt;
</string>
	<string>&lt;del&gt;</string>
	<string>&lt;div&gt;</string>
	<string>&lt;ins&gt;</string>
	<string>&lt;pre&gt;</string>
	<string>&lt;form&gt;
</string>
	<string>&lt;math&gt;</string>
	<string>&lt;table&gt;
</string>
	<string>&lt;figure&gt;
</string>
	<string>&lt;iframe&gt;</string>
	<string>&lt;script&gt;</string>
	<string>&lt;style&gt;</string>
	<string>&lt;fieldset&gt;</string>
	<string>&lt;noscript&gt;</string>
	<string>&lt;body&gt;</string>
	<string>&lt;HTML&gt;</string>
	<string>&lt;/p&gt;</string>
	<string>&lt;/body&gt;</string>
	<string>&lt;/header&gt;</string>
	<string>&lt;/div&gt;</string>
	<string>&lt;blockquote&gt;</string>
	<string>&lt;/blockquote&gt;</string>
	<string>&lt;/iframe&gt;</string>
	<string>&lt;/script&gt;</string>
	<string>&lt;/h1&gt;</string>
	<string>&lt;/h2&gt;</string>
	<string>&lt;/h3&gt;</string>
	<string>&lt;/h4&gt;</string>
	<string>&lt;/h5&gt;</string>
	<string>&lt;/h6&gt;</string>
	<string>&lt;/ol&gt;</string>
	<string>&lt;/ul&gt;</string>
	<string>&lt;/math&gt;</string>
	<string>&lt;/form&gt;</string>
	<string>&lt;/style&gt;</string>
	<string>&lt;/ins&gt;</string>
	<string>&lt;/del&gt;</string>
	<string>&lt;/pre&gt;</string>
	<string>&lt;/table&gt;</string>
	<string>&lt;figure&gt;</string>
	<string>&lt;/noscript&gt;</string>
	<string>&lt;/fieldset&gt;</string>
</array>
</plist>
